.App {
  text-align: center;
  background: ivory;
  margin: 50px;
}

.App input{
  padding: 10px;
  display: block;
  margin: 20px auto;
  border: 1px solid deeppink;
}

.App button{
  padding: 10px;
  border: none;
  background: deeppink;
}

.App button:hover{
  background: lightpink;
}